footer {
    border-top: 1px solid #0b0b0b;
    background-color: #dbddff;
    padding: 60px 0px;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.logo__text {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

footer .footer__content .footer__logo-block .footer__number {
    font-size: 17px;
    font-weight: 400;
}

footer .footer__content .footer__info-block .footer__info-title {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 30px;
}

footer .footer__content .footer__info-block .footer__info-item {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 20px;
    opacity: 0.95;
}

footer .footer__content .footer__info-block .showroom-address {
    font-size: 17px;
    font-weight: 500;
}

footer .footer__content .footer__links-block .links-block__title {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .footer__content .footer__links-block .footer__subscribe {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 40px;
}

footer .footer__content .footer__links-block .footer__subscribe input {
    display: block;
}

footer .footer__content .footer__links-block .footer__subscribe .subscribe__email {
    border: 1px solid rgb(188, 188, 188);
    border-radius: 5px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 14px 9px;
    width: 285px;
}

footer .footer__content .footer__links-block .footer__subscribe .subscribe__email::-moz-placeholder {
    color: rgb(188, 188, 188);
}

footer .footer__content .footer__links-block .footer__subscribe .subscribe__email::placeholder {
    color: rgb(188, 188, 188);
}

footer .footer__content .footer__links-block .footer__subscribe .subscribe__submit {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: 1px solid rgb(0, 6, 148);
    border-radius: 5px;
    background: rgb(0, 6, 148);
    padding: 10px 15px;
}

footer .footer__content .footer__links-block .footer__links-social {
    display: flex;
    align-items: center;
    gap: 18px;
}


footer .footer__content .footer__links-block .footer__links-social .social__item:hover {
    cursor: pointer;
}

footer a {
    color: #0b0b0b;
}