.dashboard__content {
    position: relative;
}

.dashboard__navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 18%;
    height: 100vh;
    background-color: #f4f4ff;
    border-right: 2px solid #e6e6fc;
    box-shadow: 0px 0px 10px rgba(26, 31, 204, 0.2);
}

.dashboard__navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard__info-block {
    width: 82%;
    margin-left: 18%;
    padding: 40px 60px;
}

.dashboard__copyright {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #1b22cd;
}

.dashboard__menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.navbar__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.navbar__header img {
    max-width: 40%;
}

.navbar-header__client-name {
    color: #090c6e;
}

.dashboard-menu__item {
    border-bottom: 1px solid #e6e6fc;
    border-top: 1px solid #e6e6fc;
}

.dashboard-menu__link {
    padding: 15px;
    font-size: 17px;
    font-weight: 500;
    color: #090c6e;
}

.dashboard-menu__link:hover {
    color: #040533;
}

.dashboard-info__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.dashboard__title {
    font-size: 28px;
    font-weight: 300;
    color: #090c6e;
    margin-bottom: 25px;
}

.dashboard__log-out {
    color: #090c6e;
    padding: 10px;
    border: 1px solid #1b22cd;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.dashboard__log-out:hover {
    color: #fff;
    background-color: #090c6e;
}

.dashboard__log-out:hover a {
    color: #fff;
}

.user-info-form,
.sell-auto-form {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.dashboard-form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dashboard-form-group input,
.dashboard-form-group select,
.dashboard-form-group textarea {
    border: 1px solid #575a95;
    color: rgb(64, 64, 64);
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 250px;
}

.dashboard-form-group input[type='date'] {
    max-width: 150px;
}

.dashboard-form-group input[type='email'] {
    width: 300px;
    max-width: 300px;
}

.dashboard-form-group label {
    color: #606060;
    font-size: 14px;
    font-weight: 500;
}

.dashboard__from-info-group {
    display: flex;
    gap: 20px;
}

.dashboard__input-group {
    display: flex;
    gap: 20px;
}

.dashboard-form-group input[type='password'] {
    background-color: #f6f6fc;
}

.dashboard__submit-button {
    width: 250px;
    background-color: #1b22cd;
    border: 1px solid #1b22cd;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.dashboard__submit-button:hover {
    background-color: #fff;
    color: #1b22cd;
}

.sell-auto-form .dashboard-form-group input,
.sell-auto-form .dashboard-form-group select {
    max-width: 200px;
}

.sell-auto-form .dashboard-form-group input[type='number'] {
    max-width: 150px;
}

.sell-auto-form .dashboard-form-group textarea {
    max-width: 450px;
    height: 200px;
    resize: none;
    overflow-y: auto;
}

.admin__feedback-block {
    margin-top: 15px;
    margin-bottom: 15px;
}

.admin__feedback-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin__feedback-list.order {
    gap: 30px;
}

.admin__feedback-title {
    font-size: 20px;
    border-bottom: 2px solid #f4f4ff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.admin__feedback-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 40px;
}

.admin-feedback__circle {
    width: 10px;
    height: 10px;
    background-color: #bcbcbc;
    border-radius: 50%;
}

.admin__feedback-item a {
    background-color: #1b22cd;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #1b22cd;
    font-size: 15px;
    color: #fff;
    transition: all 0.5s ease;
}

.admin__feedback-item a:hover {
    color: #1b22cd;
    background-color: #fff;
}

.admin-feedback__date {
    color: #606060;
    font-size: 15px;
    font-weight: 600;
}

.admin-feedback__phone-number {
    font-weight: 300;
}

.admin-feedback__phone-number span {
    font-weight: 700;
}

.admin-feedback__order-item {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-feedback__order-info {
    display: flex;
    flex-direction: column;
}

.admin-feedback__order-info .order-title {
    color: #61587e;
    font-size: 15px;
    font-weight: 600;
}

.admin-feedback__order-info .info {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 400;
}

.admin-feedback__item-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-feedback__buttons {
    display: flex;
    gap: 20px;
}

.feedback-item__reject,
.feedback-item__submit {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #1b22cd;
    font-size: 15px;
    transition: all 0.5s ease;
}

.feedback-item__submit {
    background-color: #1b22cd;
    color: #fff;
}

.feedback-item__submit:hover {
    background-color: #fff;
    color: #1b22cd;
}

.feedback-item__reject {
    background-color: #fff;
    color: #1b22cd;
}

.feedback-item__reject:hover {
    background-color: #1b22cd;
    color: #fff;
}

.admin-feedback__item-block.order {
    align-items: flex-start;
}